*~
*.swo
*.swp
cscope.*
tags

**/CMakeCache.txt
**/build_log.txt
**/cmake_install.cmake
**/flexspi_nor_debug/
**/flexspi_nor_release/
**/output.map
**/CMakeFiles
**/clean
**/armgcc/Makefile
**/flexspi_nor_sdram_debug/
**/flexspi_nor_sdram_release/
**/*.ninja_deps
**/*.ninja_log
**/build.ninja
**/rules.ninja

*.s
*.i

MIMXRT1170-*-CM7hardfp_GCC48-*/build/
MIMXRT1170-*-CM7hardfp_GCC48-*/source/

nxpvee-mimxrt1170-evk-apps/launchers/*.properties

BuildKit/bin/
BuildKit/conf/
BuildKit/lib/
BuildKit/microej-build-repository/
BuildKit/microej-module-repository/
BuildKit/release.properties

.java.app
.java.configuration
.java.fp
.java.mock
.*.java.app
.*.java.configuration
.*.java.fp
.*.java.mock
javasec.prop

nxpvee-mimxrt1170-evk-bsp/projects/microej/ai/
nxpvee-mimxrt1170-evk-bsp/projects/microej/cco_ai.properties
nxpvee-mimxrt1170-evk-bsp/projects/microej/platform/
**/redlink.err
**/redlink.log
**/.gdb_history
gdb.cmd
**/application.out
**/bin
test_results/*
nxpvee-mimxrt1170-evk-bsp/projects/nxpvee-ui/mcuide/Release/
nxpvee-mimxrt1170-evk-bsp/projects/nxpvee-ui/mcuide/Debug/
nxpvee-mimxrt1170-evk-bsp/projects/nxpvee-ui/armgcc/tree_version.c
nxpvee-mimxrt1170-evk-bsp/mcux-sdk
