# Gradle 

**/build/
**/.gradle/
**/.idea/

# BSP

bsp/mcux-sdk
bsp/vee/inc/
bsp/vee/lib/
bsp/vee/scripts/application.bin
bsp/vee/scripts/application.hex
bsp/vee/scripts/application.out
bsp/vee/scripts/armgcc/flexspi_nor_sdram_debug*/
bsp/vee/scripts/armgcc/flexspi_nor_sdram_release*/
bsp/vee/scripts/armgcc/compile_commands.json
bsp/vee/scripts/sdk_makefile/jlink_flash.script
