*~
*.swo
*.swp
cscope.*
tags

**/CMakeCache.txt
**/build_log.txt
**/cmake_install.cmake
**/output.map
**/CMakeFiles
**/clean
**/armgcc/Makefile
**/flexspi_nor_debug*/
**/flexspi_nor_release*/
**/flexspi_nor_sdram_debug*/
**/flexspi_nor_sdram_release*/
**/*.ninja_deps
**/*.ninja_log
**/build.ninja
**/rules.ninja
**/.settings/*

*.s
*.i

microej/MIMXRT1170-*-CM7hardfp_GCC48-*/build/
microej/MIMXRT1170-*-CM7hardfp_GCC48-*/source/

microej/vee-port-configuration/dropins/javaAPIs/
microej/vee-port-configuration/dropins/resources/
microej/apps/launchers/*.properties
microej/apps/com.nxp.*/bsp/*
microej/apps/com.nxp.*/soar/*

BuildKit/bin/
BuildKit/conf/
BuildKit/lib/
BuildKit/microej-build-repository/
BuildKit/microej-module-repository/
BuildKit/release.properties

.java.app
.java.configuration
.java.fp
.java.mock
.*.java.app
.*.java.configuration
.*.java.fp
.*.java.mock
javasec.prop

bsp/projects/microej/platform/
**/redlink.err
**/redlink.log
**/.gdb_history
gdb.cmd
**/application.bin
**/application.hex
**/application.elf
**/application.out
**/build/*
**/script.jlink
**/bin
test_results/*
bsp/mcux-sdk
bsp/projects/nxpvee-ui/armgcc/mcux_include.json
bsp/projects/nxpvee-ui/armgcc/tree_version.c
bsp/projects/nxpvee-ui/armgcc/.cmake/*
bsp/projects/nxpvee-ui/armgcc/compile_commands.json
bsp/projects/nxpvee-ui/sdk_makefile/jlink_flash.script
